html {
  background-color: #323232;
  color: darkblue;
  border: darkblue;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-size: 40px;
}

hr {
  border-color: darkblue;
  width: 90%;
}

table, td, tr, th {
  border: solid;
  border-collapse: collapse;
  padding: 5px auto;
}

table {
  width: 90%;
  margin: auto;
}

button {
  color: darkblue;
  margin: auto 10px;
  font-size: 20px;
  background-color: inherit;
  border-width: thick;
  border: solid;
  border-radius: 10%;
}

button:hover {
   border-color: #4E4E4E;
   color: #4E4E4E;
}

.titleText {
  text-align: center;
  font-size: 30px;
}

.notTitleText {
  /*background-color: #2ac8d3;*/
  padding: auto 0px;
  text-align: center;
}

.hidden {
  display: none;
}
